// Site Colours 
$white-color: #FFFFFF;
$gray-color: #c2c2c2; 
$black-color: #000000; 

// Site Font 
$font: 'Open Sans', sans-serif;

// Media Queries 
$tablet-width: 600px; 
$desktop-width: 1000px; 
